{% extends 'common/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}password change{% endblock %}
{% block login_active %}active{% endblock %}


{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}

<style>
.panel-default {
    border-color: #ddd;
    width: 300px;
    height: 340px;
}

</style>

<body class="text-center">
  <div class="col-sm-4 col-sm-offset-4">
  <div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>


</div>
</div>

</div>
</div>
</div>
</body>
{% endblock %}
