{% extends 'common/base.html' %}
{% block title %}{{ project }}{% endblock %}
{% block projects_active %}active{% endblock %}
{% load crispy_forms_tags %}
{% load static %}


{% block js %}
<script src="{% static 'bootstrap-3.3.6/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'books/js/bootstrap.min.js' %}"></script>
<script src="{% static 'books/js/books.js' %}"></script>



{% endblock %}

{% block body %}

  {% include 'common/breadcrum.html' %}

<div class="container-fluid tbllists-container">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default">
       <div class="panel-body">
      <!--  <table class="table">  -->
        <tbody>
                <tr>
                   <td>

                     <a href="{% url 'meta:sp_add' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">(+) SP</a>

                     <a href="{% url 'meta:del_sp_view' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">(-) SP</a>

                     <a href="{% url 'meta:project-spbulk-update' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">SP Bulk Update</a>


                     <a href="{% url 'meta:exp_sp_view' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">Export SP</a>

                     <a href="{% url 'meta:imp_sp_view' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">Import SP</a>

                    <!-- <a href="{% url 'sch:sch_sp_main_view' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">Scheudle SP</a>
                    -->
                     <a href="{% url 'meta:sp_exec_status' project.id %}"
                     class="btn btn-primary btn-sm btn-primary" role="button">Execution Status</a>





                     <a href="{% url 'meta:index'  %}"
                     class="btn btn-primary js-create-book" role="button">Index_create11</a>


                     <a data-url="{% url 'book_meta:sp_create'  %}"
                     class="btn btn-primary js-create-book" role="button">Index_create2</a>



                     <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'book_meta:sp_create' %}">

      New book
    </button>
  </p>















                   </td>


                </tr>
        </tbody>
      <!--  </table>  -->
        </div>
    </div>
</div>



<div class="container-fluid tbllists-container">
 <!--Table Info -->
    <div class="col-sm-12 col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
            <!--    <table class="table">  -->
            <table class="table" id="book-table">
                <thead>
                <tr>
                <th>Report Name</th>
                <th>Stored Proc Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Med Center</th>
                <th>Result Table</th>
                <th>ETL Schedule Time</th>
                <th>Execution Flag</th>
                </tr>
            </thead>
    <tbody>
      {% include 'book_meta2/includes/partial_sp_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>



{% endblock %}
