{% extends 'common/base.html' %}
{# {% extends 'common/base_common.html' %} #}
{% block title %}{{ project }}{% endblock %}
{% block projects_active %}active{% endblock %}
{% load crispy_forms_tags %}

{% block body %}

<div class="header">

{% include 'common/breadcrum.html' %}


 <!--Project Info -->
<div class="container-fluid tbllists-container">
 <div class="col-sm-12 col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
     <table class="table">
        <thead>
                <tr>
                <th>Project Name</th>
                <th>Email_notification</th>

                <th>Is_active</th>
                </tr>
         </thead>
        <tbody>

                <tr>
                    <td>{{ project.project_name }}</td>
                    <td>{{ project.email_notification }}</td>

                    <td>{{ project.is_active }}</td>
                    <td>
                    <form action="{% url 'meta:imp_sp' project.id  %}" method="post" enctype="multipart/form-data" style="display: inline;">
                        {% csrf_token %}
                        <input type="file" name="myfile"  />
                        <button type="submit" class="btn btn-primary btn-sm btn-success">Upload</button>
                        </form>
                   </td>
                </tr>
        </tbody>
    </table>
   </div>
  </div>
 </div>
</div>
 <!--Project Info End-->




<div class="container-fluid tbllists-container">
 <!--Table Info -->
 <div class="col-sm-12 col-md-12">



<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                <th>DSN Name</th>
                <th>report_name</th>
               <th>Stored Proc Name</th>
                 <th>Start Dt</th>
                <th>End Dt</th>
                <th>Med Center</th>
                <th>Result Table</th>

                <th>Is active</th>
                </tr>
            </thead>
            <tbody>
            {% for spname in project.spname_set.all %}
                <tr>
                    <td>{{ spname.dsn_name }}</td>
                    <td>{{ spname.report_name }}</td>
                    <td>{{ spname.sp_name }}</td>
                    <td>{{ spname.start_dt }}</td>
                    <td>{{ spname.end_dt }}</td>
                    <td>{{ spname.med_center }}</td>
                    <td>{{ spname.result_table }}</td>

                    <td>{{ spname.is_active }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

        </div>
    </div>

  </div>





</div>

</div>

{% endblock %}
