{% extends 'common/base.html' %}
{% load staticfiles %}
{% block title %}{{ process_logs }}{% endblock %}

{# {% load crispy_forms_tags %} #}

{% block body %}


<div class="header">
<meta charset="utf-8">
<title>Process Logs</title>

<!--  <link href="{% static 'process_log/css/p_bootstrap.css' %}" rel="stylesheet"> -->
  <link href="{% static 'process_log/css/p_dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</div>

<body>
<h1>test</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="solid">
          {{ logfile }}
        </p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-12">
              <div id="target"></div>
              <div id="lesen"></div>
      </div>
    </div>
  </div>

<script src="{% static 'logview/js/p_jquery-1.12.4.js' %}"></script>
<script src="{% static 'logview/js/p_jquery.dataTables.min.js' %}"></script>
<script src="{% static 'logview/js/p_dataTables.bootstrap4.min.js' %}"></script>
<!--<script src="{% static 'logview/js/get_data.js' %}"></script>  -->


<script>

$(document).ready(function() {
    $("#lesen").click(function() {
        $.ajax({
            url : "{{ logfile }}",
           async: false,   // asynchronous request? (synchronous requests are discouraged...)
           cache: false,   // with this, you can force the browser to not make cache of the retrieved data
            dataType: "text",
            success : function (data) {
                $(".text").html(data);
            }
        });
    });
});


</script>

</body>
</html>

{% endblock %}
