{# {% extends 'common/base_common.html' %} #}
{% extends 'common/base.html' %}
{% block title %}Add a New Source System{% endblock %}
{% block projects_active %}active{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<!--<div class="container-fluid">  -->

    <div class="row">
        <div class='col-sm-5 col-sm-offset-1'>
            <div class="panel panel-default">
                <div class="panel-body">


                    <div class='col-sm-11'>

                    <h3>Add New Jobflow</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                   <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}

                        <div class="form-group">
                            <div class="col-sm-offset-0 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

                   </div>


                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--<h3>Detailed Description of Properties</h3> -->
                    <h2>Job Flow Name </h2>
                    <p>Unique job flow name within a project </p>

                    <h2>Email notification</h2>
                    <p>email ids, to be notified for success or failure of job execution</p>

                    <h2>ETL Scheudle</h2>
                    <p>Execution frequence of the jobflow</p>

                    <h2>max_num_of_threads</h2>
                    <p>Maximum number of Threads can run in Parallel, Default number is 5</p>

                    <h2>Execution Flag</h2>
                    <p>Choose the value Y/N to enable or disable it.</p>


                </div>
            </div>
        </div>

    </div>



<!--  </div>  -->
{% endblock %}
